replicaCount: 1

image:
  repository: bigmission/redmist-user-management
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  # Environment-specific configuration
  environment: prod  # Override this in environment-specific values files
  domain: redmist.racing
  subdomain: api
  hosts:
  - paths: 
    - path: /user-management/(.*)
      pathType: ImplementationSpecific
  tls: false

autoscaling:
  enabled: false

resources:
  requests:
    cpu: "20m"
    memory: "85Mi"
  limits:
    cpu: "80m"
    memory: "2250Mi"

serviceAccount:
  create: false

env:
  PathBase: "/user-management"